[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["redis"], version = "*"}
langdetect = "*"
textblob = "*"
pandas = "*"
numpy = "*"
demoji = "*"

[dev-packages]

[requires]
python_version = "3.12"
